<div class="container container-login">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <div class="form-group">
                <label for="login">Login: </label>
                <input type="text" id="login" class="form-control" ng-model="login" placeholder="Login"/>
                <label for="password">Senha: </label>
                <input type="password" id="password" class="form-control" ng-model="password" placeholder="Password"/>
                <button class="btn btn-primary form-control" ng-click="logar(login, password)">Entrar</button>
            </div>
        </div>
    </div>
</div>